<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Gramotagen: Добавить новый документ</title>
</head>
<body>
<div>
    <h1>Добавить новый документ</h1>
    <form action="/add" method="post">
        <div>Краткое наименование соревнования (латиница максимум 30 символов)</div>
        <div>
            <label>
                <input type="text" name="competition_short" th:name="competition_short"/>
            </label>
        </div>
        <div>Полное наименование соревнования (кириллица, максимум 85 символов) ПЕЧАТАЕТСЯ</div>
        <div>
            <label>
                <input type="text" name="competition" th:name="competition"/>
            </label>
        </div>
        <div>Дата выдачи (ГГГГ-ММ-ДД)</div>
        <div>
            <label>
                <input type="text" name="issue_date" th:name="issue_date"/>
            </label>
        </div>
        <div>Тип награды (грамота, благодарственное письмо)</div>
        <div>
            <label>
                <input type="text" name="type" th:name="type"/>
            </label>
        </div>
        <div>Предмет ПЕЧАТАЕТСЯ</div>
        <div>
            <label>
                <input type="text" name="discipline" th:name="discipline"/>
            </label>
        </div>
        <div>Фамилия получателя  ПЕЧАТАЕТСЯ</div>
        <div>
            <label>
                <input type="text" name="surname" th:name="surname"/>
            </label>
        </div>
        <div>Имя получателя ПЕЧАТАЕТСЯ</div>
        <div>
            <label>
                <input type="text" name="name" th:name="name"/>
            </label>
        </div>
        <div>Отчество получателя ПЕЧАТАЕТСЯ</div>
        <div>
            <label>
                <input type="text" name="middlename" th:name="middlename"/>
            </label>
        </div>
        <div>Победитель, призер или участник ПЕЧАТАЕТСЯ</div>
        <div>
            <label>
                <input type="text" name="status" th:name="status"/>
            </label>
        </div>
        <div>Пароль для добавления нового документа</div>
        <div>
            <label>
                <input type="text" name="pass" th:name="pass"/>
            </label>
        </div>
        <input type="submit" value="Доавить новый документ"></form>
    </form>
</div>
</body>
</html>