<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Gramotagen: Поиск моих грамот</title>
    <style>
        #centerLayer {
            position: absolute; /* Абсолютное позиционирование */
            width: 300px;
            height: 250px;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #fc0; /* Цвет фона */
            border: solid 1px black; /* Параметры рамки вокруг */
            padding: 10px; /* Поля вокруг текста */
            overflow: auto; /* Добавление полосы прокрутки */
        }
    </style>
</head>
<body>
<div id="centerLayer">
    <h1>Поиск моих грамот</h1>
    <form action="/my-simple#" method="post">
        <div>Name</div>
        <div>
            <input type="text" name="name" th:name="name"/>
        </div>
        <div>Middle name</div>
        <div>
            <input type="text" name="middlename" th:name="middlename"/>
        </div>
        <div>Surname</div>
        <div>
            <input type="text" name="surname" th:name="surname"/>
        </div>
        <input type="submit" value="Найти мои грамоты"></form>
    </form>
</div>
</body>
</html>